html, body
  height 100%
.chat
  background #f5f5f5
  width 100%
  height 100%
  overflow hidden
.chat-nav
  width 100%
  height 60px
  background #e53935
  text-align left
  span
    color #ffffff
    height 40px
    margin-left 10px
    line-height 40px
    font-size 20px
    display block
    padding-top 10px
    cursor pointer
.chat-info
  width 100%
  height 506px
  ul
    padding 0
    li
      list-style none
      width 90%
      margin 0 auto
      height 50px
      display block
      .msg-detail
        float right
        margin-top 10px
        img
          width 30px
          height 30px
          border-radius 50%
          float right
        span
          background #ffffff
          border-radius 10px
          max-width 87%
          padding 5px 10px
          margin-right 10px
          display inline-block
.send-message
  width 100%
  display flex
  justify-content space-around
  padding 10px 0
  button
    color #fff
    border-radius 5px
    outline none
    border none
    width 15%
    height 40px
  input
    background #fff
    border-radius 5px
    border none
    width 80%
    height 40px
    padding-left 10px
    outline none
